/* Register & Login */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, var(--secondary), var(--primary));
}

.register .box {
  background: var(--white);
  padding: 48px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register h1 {
  font-size: 30px;
  color: #333;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.register .input {
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s;
}

.register .input:focus {
  border: 1px solid var(--primary)
}

.register .button {
  padding: 12px 0;
  width: 100%;
  background: var(--primary);
  border-radius: 8px;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register .button:hover {
  background: var(--secondary);
}

.register .bottom {
  margin-top: 8px;
  font-size: 12px;
}

.register .here {
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

/* Home */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, var(--secondary), var(--primary));
}

.home .container {
  display: flex;
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 1200px;
  height: 80%;
}

.home .list {
  width: 25%;
  border-right: 1px solid var(--border);
  padding-right: 20px;
}

.home .right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.home .log {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.home .box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home .input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 16px;
}

.home .send {
  padding: 10px 20px;
  background: var(--primary);
  border-radius: 8px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home .send:hover {
  background: var(--secondary);
}